@font-face {
	font-family: Major Mono Display;
	src: url("./Fonts/MajorMonoDisplay-Regular.ttf");
}

@font-face {
	font-family: Martel;
	src: url("./Fonts/Martel-Black.ttf");
}

#gooseBigLogo{
	transition: 600ms;
}

#gooseBigLogo{
	cursor: pointer;
}


#logo:hover{
	transform: scaleY(130%);
	transform: scaleX(-110%);
}

#aboutInformationAbove{
	transition: 500ms;
}

#aboutInformationBelow{
	transition: 500ms;
}

#aboutTitle{
	transition: 500ms;
}



#gradient {
	height: 0px;
	width: 100vw;
	background: linear-gradient(0deg, rgb(84, 26, 105) 0%, rgba(255, 255, 255, 0) 100%);
	display: flex;
	max-height: 200vh;
	max-width: 100vw;
	/* bottom: 0;
	/* position: absolute; */
	/* transform: rotate(360deg); */
	
	
}

#gradientHolder{
	overflow: visible;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

#menuOptions{
	background-color: transparent;
	width: 100vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	position: fixed;
	/* margin-top: -507px; */
	z-index: 10000;
	font-family: 'Times New Roman', Times, serif;
	top: 75px;
	
}

#backImage{
	scale: 1;
	position: absolute;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;

	object-fit: cover;
	object-position: center;
	z-index: -5000000;
	position: fixed;

	
}

#backgroundImage {
	height: 100vh;
	width: 100vw;
}

#blackBackground {
	background: rgba(0, 0, 0, 0.69);
	width: 100%;
	height: 100%;
	display: grid;
	flex-direction: column;
	justify-content: center;
}


#navBar {
	height: 75px;
	/* background-color: black; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
	background-color: rgba(229, 187, 255, 0);

	
}

#logo {
	height: 100%;
	transform: scaleX(-1);

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
 
	/*
	  Introduced in IE 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

#GooseHacks{
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 25px;
	width: 180px;
	transition: 100ms;
	cursor: pointer;
}

#GooseHacks:hover{
	transform: scale(115%);
}



@media only screen and (min-width: 601px) {
	#home:hover{
		background-color: rgba(191, 94, 255, 0.5);
	}
	#home:active{
		background-color: rgba(153, 0, 255, 0.5);
	}
	
	#about:hover{
		background-color: rgba(118, 94, 255, 0.5);
	}
	#about:active{
		background-color: rgba(38, 0, 255, 0.5);
	}
	
	#faqs:hover{
		background-color: rgba(94, 140, 255, 0.5);
	}
	#faqs:active{
		background-color: rgba(0, 72, 255, 0.5);
	}
	
	#sponsors:hover{
		background-color: rgba(94, 175, 255, 0.5);
	}
	#sponsors:active{
		background-color: rgba(0, 128, 255, 0.5);
	}
	
	#team:hover{
		background-color: rgba(94, 247, 255, 0.5);
	}
	#team:active{
		background-color: rgba(0, 242, 255, 0.5);
	}
	
	#devpost:hover{
		background-color: rgba(94, 255, 158, 0.5);
	}
	#devpost:active{
		background-color: #00ff6680;
	}
	#topLeft{
		height: 75px;
		display: flex;
		justify-content: start;
		align-items: center;
		margin-left: 90px;
	}
	#topRight{
		margin-left: 2vw;
		margin-right: 100px;
	}
}

@media only screen and (max-width: 601px) {

	#topLeft{
		height: 75px;
		display: flex;
		justify-content: start;
		align-items: center;
		margin-left: 0px;
	}
	#topRight{
		margin-left: 0px;
		margin-right: 0px;
	}
}




@media only screen and (min-width: 601px) {

	#date{
		/* ADD DATE FONT HERE FOR TITLE PAGE */
		font-family: 'Gill Sans';
		font-weight: 100;
		font-size: 45px;
		color: white;
		margin-bottom: 25px;
	}

	#moto{
		/* ADD THE MOTO ("Ignite Your Genius, Hack for Change") FONT*/
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		color: #936DE2;
		-webkit-text-stroke: 1px #aa00ff;
	}

	#register{
		font-family: Martel;
		color: white;
		font-size: 23px;
		width: 150px;
		height: 50px;
		background-color: #936DE2;
		border-radius: 200px;
		border-color: transparent;
		transition: 0.3s;
		cursor:pointer;
	}

	#register:hover{
		background-color: rgb(211, 52, 158);
	}

	#register:active{
		background-color: rgb(0, 136, 255);
	}

	#middleOfTitle{
		/* background-color: orange; */
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	#gooseHacksTitle{
		/* MAKE GOOSE HACKS STYLE HERE FOR THE TITLE "GOOSE HACKS */
		font-family: "Major Mono Display";
		background-color: #f3ec78;
		background-image: linear-gradient(45deg, #BD00FF, #00E0FF);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
		font-size: 100px;
		margin-top: -50px;
		margin-bottom: 0px;
		word-spacing: -20px;
		font-weight: 4000;
		font-weight: bold;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		
		/* no touch up[ */
	}

	#hamburgerButton{
		border-radius: 15px;
		width: 50px;
		height: 50px;
		margin-right: 30px;
		background-color: #9561FF;
		border-color: transparent;
		cursor:pointer;
		transition: 0.3s;
		display: none;
	}

	.navBarItems{
		font-family:'Courier New', Courier, monospace;
		font-weight: 300;
		color: white;
		font-size: 23px;
		background-color: transparent;
		border-radius: 10px;
		border-color: transparent;
		transition: 0.3s;
		cursor:pointer;
		display: block;
	}

	#aboutTitle{
		width: 100%;
		color: white;
		font-size: 48px;
	}
	
	#innovator{
		background-image: linear-gradient(180deg, #00E0FF, #7297ff);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
	}

	#discord{
		background-image: linear-gradient(180deg, #00ffff, #ffffff);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
	}
	
	#aboutInformationAbove{
		padding-top: 50px;
		color: white;

		font-size: 22px;
		font-family: 'Courier New', Courier, monospace;
	}
	
	#aboutInformationBelow{
		padding-top: 50px;
		color: white;
		font-size: 22px;
		font-family: 'Courier New', Courier, monospace;
	}
	
	#leftAboutInformation{
		padding-top: 40px;
		padding-left: 129px;
		width: 100%;
	}
	
	#aboutInformation{
		 /* border: 2px solid green;  */
		display: flex;
		justify-content: space-between;
		padding-right: 120px;
		align-items: center;
		
	}
	#bigGooseSection{
		justify-content: center;
		/* border: red 2px solid; */
	}
	#gooseBigLogo{
		width: 32vw;
		height: 30vw;
		object-fit: cover;
		opacity: 0;

		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
	 
		/*
		  Introduced in IE 10.
		  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
		*/
		-ms-user-select: none;
		user-select: none;
	}
}

@media only screen and (max-width: 1189px) {
	#aboutTitle{
		width: 100%;
		color: white;
		font-size: 48px;
		text-align: center;
	}
	#gooseBigLogo{
		width: 33vw;
		height: 30vw;
		object-fit: cover;
		opacity: 0;
	}
	#aboutInformation{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#aboutInformationAbove{
		padding-top: 20px;
		color: white;
		width: 100%;
		font-size: 20px;
		font-family: 'Courier New', Courier, monospace;
	}
	
	#aboutInformationBelow{
		padding-top: 20px;
		color: white;
		width: 100%;
		font-size: 20px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#date{
		/* ADD DATE FONT HERE FOR TITLE PAGE */
		font-family: 'Gill Sans';
		font-weight: 100;
		font-size: 20px;
		color: white;
		margin-bottom: 25px;
	}
	
	#moto{
		/* ADD THE MOTO ("Ignite Your Genius, Hack for Change") FONT*/
		font-family: Martel;
		color: white;
		-webkit-text-stroke: 1px #00E0FF;
		font-size: 13px;
	}
	
	#register{
		font-family: Martel;
		color: white;
		font-size: 15px;
		background-color: #936DE2;
		border-radius: 200px;
		border-color: transparent;
		transition: 0.3s;
		cursor:pointer;
	}
	
	#register:hover{
		background-color: rgb(211, 52, 158);
	}
	
	#register:active{
		background-color: rgb(0, 136, 255);
	}
	
	#middleOfTitle{
		/* background-color: orange; */
		/* margin-top: 50px; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	
	}
	
	#gooseHacksTitle{
		/* MAKE GOOSE HACKS STYLE HERE FOR THE TITLE "GOOSE HACKS */
		font-family: "Major Mono Display";
		background-color: #f3ec78;
		background-image: linear-gradient(45deg, #BD00FF, #00E0FF);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
		font-size: 75px;
		margin-bottom: 0px;
		word-spacing: -20px;
		font-weight: 4000;
		font-weight: bold;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center; 
		
		/* no touch up[ */
	}
	#hamburgerButton{
		border-radius: 15px;
		width: 40px;
		height: 40px;
		margin-right: 20px;
		background-color: #9561FF;
		border-color: transparent;
		cursor:pointer;
		transition: 0.3s;
		display: block;
	}

	
	/* SADSDASADSADASDSADAS */
	#aboutTitle{
		width: 100%;
		color: white;
		font-size: 38px;
	}
	
	#innovator{
		background-image: linear-gradient(180deg, #00E0FF, #7297ff);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
	}
	
	#aboutInformationAbove{
		padding-top: 20px;
		color: white;
		width: 100%;
		font-size: 17px;
		font-family: 'Courier New', Courier, monospace;
		text-align: center;
	}
	
	#aboutInformationBelow{
		padding-top: 20px;
		color: white;
		width: 100%;
		font-size: 17px;
		font-family: 'Courier New', Courier, monospace;
		text-align: center;
	}
	
	#leftAboutInformation{
		padding-top: 40px;
		padding-left: 129px;
		width: 100%;
	}
	
	#aboutInformation{
		/* border: 2px solid green; */
		padding-right: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#bigGooseSection{
		justify-content: center;
		/* border: red 2px solid; */
		width: 30%;
	}
	#gooseBigLogo{
		width: 55vw;
		height: 50vw;
		object-fit: cover;
		opacity: 0;
	}
}







#topRight{
	margin-right: 25px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}









.menu{
	background-color: rgb(153, 0, 255);
	border-color: transparent;
	cursor: pointer;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: larger;
	
}

.menu:hover{
	background-color: #9561FF;
	border: none;
	border-color: transparent;
}



#hamburgerImage{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#aboutInformation{
	margin-bottom: 50px;
}

#hamburgerButton:hover{
	background-color: rgb(211, 52, 158);
}

#hamburgerButton:active{
	background-color: rgb(191, 94, 255);
}

#information{
	width: 100%;
	height: 200vh;
	background-color: rgb(84, 26, 105);
}

#topOfBlueGradient{
	/* width: 100%;
	height: 230px;
	background-image: url("darkSep.png");
	background-color: purple;
	background-repeat: no-repeat; */
}

.seperator{
	object-fit: cover;
	width: 100vw;
	background-color: rgb(84, 26, 105);
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
 
	/*
	  Introduced in IE 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
	
	
}

.seperatorFaq{
	object-fit: cover;
	width: 100vw;
	background-color: rgb(84, 26, 105);

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
 
	/*
	  Introduced in IE 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

#bottomOfBlueGradient{
	/* width: 100vw;
	height: 230px;
	background-image: url("darkSep180.png");
	background-color: purple; */
}

#faq{
	width: 100%;
	background-color: #3872a8;
	/* background-image: url("potential.gif"); */
	overflow: hidden;
	/* border: 2px white solid; */
}

html, body {
	overscroll-behavior-y: none;
	overscroll-behavior-x: none;
}

#FaqTitle{
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	Color: white;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
}


#topBarOfFaq{
	margin-top: 35px;
	width: 100%;
	background-image: url("swoosh.png");
	/* border: 2px solid red; */
	height: 340px;
	overflow: hidden;
	display: flex;
	/* background-color: #936DE2; */
	background-color: rgba(255, 255, 255, 0);
	
	border: 10px solid rgb(64, 72, 193);
	background-image: url("potential.gif");
	border-left: transparent;
}
/* whatre u trying to do rn */
/* playing brawl stars */
/*  oh lol IM working on insttagram sttuff rn */


#bottomBarOfFaq{
	margin-top: 55px;
	width: 100%;
	border: 10px solid rgb(64, 72, 193);
	height: 340px;
	display: flex;
	overflow: hidden;
	/* background-color: #00a6ff58; */
	background-color: rgba(255, 255, 255, 0);
	background-image: url("potential.gif");
	border-left: transparent;
}

.stikyNote{
	/* border: 2px solid orange; */
	aspect-ratio: 1 / 1;
	height: 100%;
	background-image: url("stickNote.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 10px;
	cursor: pointer;
	/* border: red solid 2px; */
}

.stikyNote:hover{
	transform: scale(103%);
}

.stikyNote:active{
	transform: scale(108%);
}

#stickyNoteTitle{
	font-family: 'Courier New', Courier, monospace;
	color: white;
	padding-top: 15px;
	padding-left: 34px;
	padding-right: 16px;
	font-size: 30px;
	cursor: pointer;
	text-align: center;
	/* border: red 2px solid; */
}

#stickyNoteInformation{
	font-family: 'Courier New', Courier, monospace;
	color: white;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 28px;
	width: 87%;
	cursor: pointer;
	text-align: center;
}



#teamSection{
    /* border: 2px red solid; */
    width: 100%;
    background-color: #541a69;
    display: flex;
	/* <br> */
    flex-direction: column;
    align-items: center;
}

#teamTitle{
	margin-top: 60px;
    color: white;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;

}

#gooseHacksText{
    background-image: linear-gradient(180deg, #00ddff, #4173ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}




#topOfSeperator{
	display: flex;
	width: 50000px;
	overflow: hidden;
	margin-left: -2500px;
	overflow: hidden;
}

#topOfSeperatorFaq{
	display: flex;
	width: 50000px;
	overflow: hidden;
	margin-left: -2500px;
	overflow: hidden;

}

#contributerRow{
	display: flex;
	justify-content: center;
	/* border: 2px red solid; */
	width: 100%;
	margin-bottom: 80px;
}

#profile{
	width: 250px;
	display: flex;
	flex-direction: column;
	/* border: 2px rgb(85, 85, 255) solid; */
	align-items: center;
}

#profilePicture{
	border-radius: 50%;
	border: 2px rgb(85, 85, 255) solid;
	width: 230px;
	margin-left: 0px;
	margin-right: 0px;
	
}

#contributerName{
	font-family: 'Courier New', Courier, monospace;
	color: white;
	font-size: 23px;
	text-align: center;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#contributerTitle{
	font-family: 'Courier New', Courier, monospace;
	color: rgb(108, 108, 255);
	font-size: 19px;
	text-align: center;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#credentials{
	display: flex;
	justify-content: space-evenly;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	/* border: 2px solid orange; */
}

#linkedIn{
	filter: invert(100%);
	/* can't highlight image */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
 
	/*
	  Introduced in IE 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}


@media only screen and (max-width: 500px) {
	#contributerRow{
		flex-direction: column;
		align-items: center;
	}
	#profile{
		margin-top: 25px;
	}
}


#endOfWebsite{
	height: 350px;
	width: 100%;
	background-color: rgb(51, 12, 66);
	/* border: 2px red solid; */
	display: flex;
}


#GooseHacksSection{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

#GooseHacksBottomText{
	font-family: "Major Mono Display";
	background-color: #f3ec78;
	background-image: linear-gradient(45deg, #BD00FF, #00E0FF);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	font-size: 75px;
	text-align: center;
	margin-bottom: 12px;
}

#email{
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	font-weight: 200;
	font-size: 15px;
	text-align: center;
}

#copyRight{
	color: white;
	font-size: 15px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 300;
}

#logo2{
	transform: scaleX(-1);
	object-fit: cover;

	height: 200px;
	margin-left: 25px;

}

#imageSection{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 2px solid red;
}
/* this is not the way */
/* oh */
/* shrink the width size of screen */

#socialMedias{
	display: flex;
	justify-content: space-evenly;
	
	width: 10%;
}

#socialLink{
	width: 150%;
	border-radius: 50%;
	filter: invert(100%);
}
#emailSection{
	height: 30px;
	width: 100%;
	background-color: rgb(51, 12, 66);
	display: flex;
	justify-content: center;
	/* what are u tryna do? */
	/* idk */
	/* i think we should create a compnay linkdin page */
	/* ye true */
	/* Ill creae it using the oosehacks email and pass will be as always turtlehacks */
	/*  */
}

#space{
	width: 100%;
	height: 50px;
}